.element {
	overflow: hidden;
	position: relative;
}

.element.active {
	overflow: visible;
}

.element > span {
	display: none;
	grid-template-columns: repeat(3, 33.3%);
	grid-template-rows: 15% 35% 25% 25%;
	height: 100%;
}

.element span.show { display: grid; }

.element.active {
	height: 5.5rem;
	width: 5.5rem;
	left: -1rem;
	top: -1rem;
	position: relative;
	z-index: 10;
}

.element .isotopes-container {
	position: absolute;
	display: none;
	width: 30vw;
	height: 30vh;
	left: 5.5rem;
	z-index: 20;
}

.element.active .isotopes-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.element .isotopes-container.left {
	justify-content: flex-end;
	left: -30vw;
}

.element .isotope {
	width: 3.5rem;
	height: 3.5rem;
	margin: 1px;
	border: 1px solid #000;
	background: #FFF;
	font-size: 0.6rem;
}

.element .isotope.stable { border: 3px solid #000; }
.element .isotope.alpha { border: 3px solid #900; }
.element .isotope.beta_minus { border: 3px solid #CC0; }
.element .isotope.beta_plus { border: 3px solid #009; }
.element .isotope.k_plus { border: 3px solid #909; }
.element .isotope.spontaneous { border: 3px dashed #000; }

.element .symbol { 
	grid-row: 2;
	grid-column: 2;
	font-size: 1rem; 
	justify-self: center;
	font-weight: bold
}
.element .symbol.solid { color: #000; }
.element .symbol.liquid { color: #00F; }
.element .symbol.gas { color: #F00; }
.element .symbol.unknown { color: #444; }
.disabled .symbol
{ 
	color: #666 !important; 
}

.element.lanthanoids .symbol,
.element.actinoids .symbol { 
	grid-column: 1 / 3 span;
	font-size: 0.7rem;
}

.element .atomic_number { 
	grid-row: 1; 
	grid-column: 1; 
	justify-self: left;
	font-size: 0.7rem; 
	margin-left: 0.15rem;
}

.element .name { 
	grid-row: 3;
	grid-column: 1 / span 3; 
	justify-self: center;
	font-size: 0.6rem; 
	font-weight: bold;
}

.element .weight {
	grid-row: 4;
	grid-column: 1 / span 3;
	justify-self: center;
	text-align: center;
	font-size: 0.6rem;
	white-space: nowrap;
}

.element.active .weight.small {
	display: none;
}

.element .weight.big {
	display: none;
}
.element .weight.big p {
	margin: 0;
	padding: 0;
	line-height: 0.6rem;
}

.element.active .weight.big {
	display: block;
}

.element .electrons {
	grid-row: 1 / span 4;
	grid-column: 3;
	font-size: 0.55rem;
	justify-self: right;
	text-align: right;
	margin-right: 0.15rem;
	margin-top: 0.1rem;
	display: none;
}
.element.active .electrons {
	display: block;
}
.element .electrons p {
	margin: 0;
	padding: 0;
	line-height: 0.6rem;
}

