{% import "element.njk" as element %}
<!DOCTYPE html>
<html>
<head>
	<title>Periodic</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div id="app">
		<ul class="table">
			<li class="H">H</li>
			<li class="He">He</li>
			<li class="Li">Li</li>
			<li class="Be">Be</li>
			<li class="B">B</li>
			<li class="C">C</li>
			<li class="N">N</li>
			<li class="O">O</li>
			<li class="F">F</li>
			<li class="Ne">Ne</li>
			<li class="Na">Na</li>
			<li class="Mg">Mg</li>
			<li class="Al">Al</li>
			<li class="Si">Si</li>
			<li class="P">P</li>
			<li class="S">S</li>
			<li class="Cl">Cl</li>
			<li class="Ar">Ar</li>
			<li class="K">K</li>
			<li class="Ca">Ca</li>
			<li class="Sc">Sc</li>
			<li class="Ti">Ti</li>
			<li class="V">V</li>
			<li class="Cr">Cr</li>
			<li class="Mn">Mn</li>
			<li class="Fe">Fe</li>
			<li class="Co">Co</li>
			<li class="Ni">Ni</li>
			<li class="Cu">Cu</li>
			<li class="Zn">Zn</li>
			<li class="Ga">Ga</li>
			<li class="Ge">Ge</li>
			<li class="As">As</li>
			<li class="Se">Se</li>
			<li class="Br">Br</li>
			<li class="Kr">Kr</li>
			<li class="Rb">Rb</li>
			<li class="Sr">Sr</li>
			<li class="Y">Y</li>
			<li class="Zr">Zr</li>
			<li class="Nb">Nb</li>
			<li class="Mo">Mo</li>
			<li class="Tc">Tc</li>
			<li class="Ru">Ru</li>
			<li class="Rh">Rh</li>
			<li class="Pd">Pd</li>
			<li class="Ag">Ag</li>
			<li class="Cd">Cd</li>
			<li class="In">In</li>
			<li class="Sn">Sn</li>
			<li class="Sb">Sb</li>
			<li class="Te">Te</li>
			<li class="I">I</li>
			<li class="Xe">Xe</li>
			<li class="Cs">Cs</li>
			<li class="Ba">Ba</li>
			<li class="lanthanoids">57-71</li>
			<li class="La">La</li>
			<li class="Ce">Ce</li>
			<li class="Pr">Pr</li>
			<li class="Nd">Nd</li>
			<li class="Pm">Pm</li>
			<li class="Sm">Sm</li>
			<li class="Eu">Eu</li>
			<li class="Gd">Gd</li>
			<li class="Tb">Tb</li>
			<li class="Dy">Dy</li>
			<li class="Ho">Ho</li>
			<li class="Er">Er</li>
			<li class="Tm">Tm</li>
			<li class="Yb">Yb</li>
			<li class="Lu">Lu</li>
			<li class="Hf">Hf</li>
			<li class="Ta">Ta</li>
			<li class="W">W</li>
			<li class="Re">Re</li>
			<li class="Os">Os</li>
			<li class="Ir">Ir</li>
			<li class="Pt">Pt</li>
			<li class="Au">Au</li>
			<li class="Hg">Hg</li>
			<li class="Tl">Tl</li>
			<li class="Pb">Pb</li>
			<li class="Bi">Bi</li>
			<li class="Po">Po</li>
			<li class="At">At</li>
			<li class="Ra">Ra</li>
			<li class="Fr">Fr</li>
			<li class="Ra">Ra</li>
			<li class="actinoids">89-103</li>
			<li class="Ac">Ac</li>
			<li class="Th">Th</li>
			<li class="Pa">Pa</li>
			<li class="U">U</li>
			<li class="Np">Np</li>
			<li class="Pu">Pu</li>
			<li class="Am">Am</li>
			<li class="Cm">Cm</li>
			<li class="Bk">Bk</li>
			<li class="Cf">Cf</li>
			<li class="Es">Es</li>
			<li class="Fm">Fm</li>
			<li class="Md">Md</li>
			<li class="No">No</li>
			<li class="Lr">Lr</li>
			<li class="Rf">Rf</li>
			<li class="Db">Db</li>
			<li class="Sg">Sg</li>
			<li class="Bh">Bh</li>
			<li class="Hs">Hs</li>
			<li class="Mt">Mt</li>
			<li class="Ds">Ds</li>
			<li class="Rg">Rg</li>
			<li class="Cn">Cn</li>
			<li class="Nh">Nh</li>
			<li class="Fl">Fl</li>
			<li class="Mc">Mc</li>
			<li class="Lv">Lv</li>
			<li class="Ts">Ts</li>
			<li class="Og">Og</li>
		</ul>
	</div>
</body>
</html>